# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Lession3_Rail79\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
